@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Roles Management</h2>
<p>
    @Html.ActionLink("Create New", "RoleCreate")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            UserName
        </th>
        
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var role in ViewBag.allRoles) {
        <tr>
            <td>
                @role.Id
            </td>
            <td>
                @role.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "RoleEdit", new { id=role.Id }) |
                @Html.ActionLink("Delete", "RoleDelete", new { id = role.Id })
            </td>
        </tr>
    }

</table>