@using Microsoft.AspNetCore.Mvc.Rendering
@model e_cookbook.Models.UsersListDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>User Management</h2>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            UserName
        </th>
        
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var user in ViewBag.allUsers) {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.UserName
            </td>
            <td>
                @user.Email
            </td>
            
            <td>
                @user.Role
            </td>
            <td>
                @Html.ActionLink("Edit", "UserEdit", new { id=user.Id }) |
                @Html.ActionLink("Block", "UserBlock", new { id=user.Id  }) |
                @Html.ActionLink("Delete", "UserDelete", new { id = user.Id })
            </td>
        </tr>
    }

</table>

