<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Recipes" asp-action="Index">e_cookbook</a>
        <ul class="navbar-nav mr-auto">

            <li><a id="search-button" name="earch-button" class="nav-link  text-dark" href="#"><span class="fa fa-search" aria-hidden="true"></span> Wyszukaj</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a class="nav-link  text-dark" asp-controller="Recipes" asp-action="AddRecipe"><span class="fa fa-plus-circle" aria-hidden="true"></span> Dodaj przepis</a></li>

                <li>   
                    <a class="nav-link text-dark" asp-action="Profile" asp-controller="Account" class="nav-link text-dark"><span class="fa fa-user" aria-hidden="true"></span> @User.Identity.Name</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout"><span class="fa fa-sign-out" aria-hidden="true"></span> Logout</a>
                </li>
            }
            else
            {
                <li><a class="nav-link  text-dark" asp-controller="Account" asp-action="Login"><span class="fa fa-sign-in" aria-hidden="true"></span> Zaloguj</a></li>
                <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Register"><span class="fa fa-user-plus" aria-hidden="true"></span> Zarejestruj</a></li>
               
            }
        </ul>
    </div>
</nav>