@model e_cookbook.Models.User

@{
    ViewBag.Title = "Logowanie";
    Layout = "_Layout";
}

<div class="bg-blur"></div>

<div class="login-form flex-md-row">
    <form asp-controller="Account" asp-action="Login" class="form-signin" asp-route-returnUrl="@ViewData["ReturnUrl"]">
        <h2>Logowanie</h2>
        <div class="form-group">
            <label asp-for="UserName">Login</label>
            <input asp-for="UserName" class="form-control" placeholder="Twój login">
        </div>
        <div class="form-group">
            <label asp-for="PasswordHash">Hasło</label>
            <input type="password" class="form-control" placeholder="Hasło" asp-for="PasswordHash"/>
        </div>
        <button type="submit" class="btn btn-primary float-right">Zaloguj</button>
    </form>
</div>
