@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
}

<div style="background-color:#333; color:#ffffff; text-align:center"><h2>Profil użytkownika</h2></div>
<div class="row" style="background-color:#ffffff; min-height: 100vh;
    width:auto;
    height: auto;">
    <br /><br />
    <div class="col-md-12">
        <table class="table" style="text-align: center; border-collapse: collapse; width: 25%; color:#333; font-weight:bold; margin:auto;">
            <tr>
                <th style="text-align: left;">User: @User.Identity.Name</th>
            </tr>
            <tr>
                <th style="text-align: left;">Email: @ViewBag.email</th>
            </tr>
            <tr>
                <td style="text-align:right"><a asp-action="Update">Zaktualizuj profil</a></td>
            </tr>
        </table>
    </div>

    <div class="col-md-12">
        <br/><br/><br/><br/><br/>
        <h2 style="color:#000000; text-align:center">Twoja lista przepisów</h2>

            <table class="table" style="text-align: center; border-collapse: collapse; width: 50%; color:#ffffff; font-weight:bold; margin:auto">

                <tr>

                    <th style="text-align: center; padding: 8px; background-color: #003802;
  color: white;">Nazwa przepisu</th>

                </tr>

                <tr>
                    <th style="text-align: center; padding: 8px; background-color: #4CAF50;
  color: white;">Lista składników</th>

                </tr>
                <tr style="background-color: #ebebeb; color:#000000">
                    <td style="text-align: center; padding: 8px;">
                        <ul style="display:inline-table;">
                            <li>składnik</li>
                            <li>składnik</li>
                            <li>składnik</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th style="text-align: center; padding: 8px; background-color: #4CAF50;
  color: white;">Lista kroków</th>

                </tr>
                <tr style="background-color: #ebebeb; color:#000000">
                    <td style="text-align: center; padding: 8px;">
                        <ul style="display:inline-table; ">
                            <li>krok</li>
                            <li>krok</li>
                            <li>krok</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <br />
            <br />
    </div>

</div>
