@model e_cookbook.Models.UserDTO

@{
    ViewBag.Title = "Rejestracja";
    Layout = "_Layout";
}



<div class="bg-blur"></div>


<div class="login-form">
    <form asp-controller="Account" asp-action="Register" class="form-signin">
        <h2>Rejestracja</h2>
        <div class="form-group">
            <label asp-for="UserName">Login</label>
            <input asp-for="UserName" class="form-control" placeholder="Twój login">
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Twój Email"/>
        </div>
        <div class="form-group">
            <label asp-for="PasswordHash">Hasło</label>
            <input type="password" class="form-control" placeholder="Hasło" asp-for="PasswordHash"/>
        </div>
        <button type="submit" class="btn btn-primary float-right">Zarejestruj</button>
    </form>
</div>