
@model e_cookbook.Models.User

@{
    ViewBag.Title = "Ustawienia";
    Layout = "_Layout";
}

<div style="background-color:#333; color:#ffffff; text-align:center"><h2>Aktualizacja profilu</h2></div>

<div class="login-form">
<div class="row">
    <div class="col-12" style="text-align: center">

        <form asp-controller="Account" asp-action="UpdatePassword" method="post">
            <p><strong>Aktualizuj hasło</strong></p>

            <div class="form-group">
                <label for="password">Stare hasło</label>
                <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Stare hasło">
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash">Hasło</label>
                <input type="password" class="form-control" asp-for="PasswordHash">
            </div>
            <input type="submit" class="btn btn-primary " value="Aktualizuj"/>

        </form>
    </div>
</div>
    <div class="row">
        <div class="col-12" style="text-align: center">

            <p><strong>Aktualizuj email</strong></p>
            <form asp-controller="Account" asp-action="UpdateEmail" method="post">
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email"/>
                </div>
                <input type="submit" class="btn btn-primary " value="Aktualizuj">
            </form>
        </div>
    </div>
</div>
    
    
    
  
