﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  
}

.MainPage {
  background-image: url('../images/knife.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  min-height: 100vh; 
  height: 100vh; 
  width:auto;

}
.bg-blur
{

  /* Full height */
  min-height: 100vh;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/knife.jpg');
  background-attachment: fixed;
  width:auto;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}


.form-signin {
width: 100%;
  padding: 15px 35px 55px;
  margin: 0 auto;

}

.form-recipe {
  max-width: 100%;
  padding: 15px 35px 55px;
  margin: 0 auto;

}

.login-form {
  min-width: 380px;
  margin: auto;
/*  border: 2px solid rgba(0, 0, 0, 0.2);*/
  border-radius: 4px;

  background-color: rgb(192, 192, 192); /* Fallback color */
  background-color: rgba(208, 208, 208, 0.6); /* Black w/opacity/see-through */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  color: #403934;
  font-weight: bold;
 /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 700px;
  width:60%;
  padding: 20px;
  text-align: center;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
#search-div {
  display: none;
  padding: 15px;
  margin: 0 auto;
}

.add-hr {
  width:calc(100% - 1.33em);
  float:left;

  
}

.add {
  opacity:0.5;

}

.step {
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 80px;
}

.input-recipe {
  width:100%;
}



.recipe-form {
  min-width: 500px;

  margin: auto;
  /*  border: 2px solid rgba(0, 0, 0, 0.2);*/
  border-radius: 4px;

  background-color: rgb(192, 192, 192); /* Fallback color */
  background-color: rgba(208, 208, 208, 0.6); /* Black w/opacity/see-through */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  color: #403934;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 700px;
  width:60%;
  padding: 20px;
  text-align: center;
}
.form-control {
  width: 50%;
  display: inline-block;
}