@model e_cookbook.Models.Ingredient

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <form asp-controller="Recipes" asp-action="AddIngredient">
          
        <h2>Dodaj składnik</h2>
            <div class="form-group">
                <label class="form-group" asp-for="Name">Nazwa składnika</label>
                <input class="form-group" type="text" placeholder="Nazwa" asp-for="Name"/>
            </div>
        <button type="submit" class="btn btn-primary float-right">Dodaj</button>
        
    </form>
    
    @ViewBag.result
</div>