@model e_cookbook.Models.Recipe

@{
    ViewBag.Title = "Nowy przepis";
    Layout = "_Layout";
}



@if(ViewBag.ingredients.Count == 0 )
{
    <h3>Nie ma żadnych składników!</h3>
    
}

<div class="bg-blur"></div>

<div class="login-form">
    <h3 class="m-md-2">Dodaj przepis</h3>
    <form asp-controller="Recipes" asp-action="addRecipe" class="form-recipe">
        <div class="form-group">
            <label asp-for="Title">Nazwa Przepisu</label>
            <input class="input-recipe" asp-controller="Recipes" asp-action="AddRecipe" asp-for="Title"/>
        </div>
        <div id="ingredients" class="form-group ">
            <label asp-for="RecipeIngredients">Dodaj artykuły</label><br/>
            @Html.DropDownList("accountid", new SelectList(ViewBag.ingredients, "Id", "Name"), new {@class = "col-md-7 form-control mr-1", @id = "select"})
            <i class="fa fa-plus-circle fa-lg add-ingredient"></i>
        </div>
        <div id="ingredients"></div>
        <div id="fields">

            <div class="newField form-group">
                <label asp-for="RecipeStep">Krok 1</label>
                <textarea onkeyup="textAreaAdjust(this)" class="step" asp-for="RecipeStep" name="RecipeSteps" id="input_1"> </textarea>
            </div>

        </div>
        <hr class="style13 add-hr"><i class="fa fa-plus-circle fa-lg add"></i>
        <button type="submit" class="btn btn-primary float-right">Dodaj</button>
    </form>

</div>