﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="MainPage" >

    <div class="row align-items-start">
        <div class="col-md-12" style="background: #333">
            <h2 style="text-align: center; color: #ffffff">Przepisy</h2>
        </div>
    </div>
    @model List<Ingredient>
    @if (ViewBag.recipes == null)
    {
        <div class="text-white;">
            <h1 class="text-center bg-dark text-white">Nie ma jeszcze żadnych przepisów!!</h1>
        </div>
    }
    else
    {
        foreach (var product in ViewBag.recipes)
        {
            <div class="row align-items-start">
                <div class="col-md-12">

                    <table class="table" style="text-align: center; border-collapse: collapse; width: 50%; color: #ffffff; font-weight: bold; margin: auto">

                        <tr>

                            <th style="text-align: center; padding: 8px; background-color: #003802; color: #ffffff;">@product.Title</th>

                        </tr>

                        <tr>
                            <th style="text-align: center; padding: 8px; background-color: #4CAF50; color: #ffffff;">Lista składników</th>


                        </tr>
                        <tr style="background-color: rgba(0, 0, 0, 0.3);">
                            <td style="text-align: center; padding: 8px;">
                                <ul style="display: inline-table;">
                                    @if (product.RecipeIngredients is null)
                                    {
                                        <li>Nie ma składników</li>
                                    }
                                    else
                                    {
                                        foreach (var i in product.Ingredients)
                                        {
                                            <li>@i.Name</li>
                                        }
                                    }



                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center; padding: 8px; background-color: #4CAF50; color: #ffffff;">Lista kroków</th>

                        </tr>
                        <tr style="background-color: rgba(0, 0, 0, 0.3);">
                            <td style="text-align: center; padding: 8px;">
                                <ul style="display: inline-table;">
                                    @if (product.RecipeStep is null)
                                    {
                                        <li>Nie ma kroków</li>
                                    }
                                    else
                                    {
                                        foreach (var r in product.RecipeStep)
                                        {
                                            <li>@r.Text</li>
                                        }
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                </div>
            </div>
        }
    }
</div>