@model e_cookbook.Models.RecipeDetailsDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <h2>Przepis: @ViewBag.recipe.Title</h2> <span>Rating: @ViewBag.recipe.Rating</span>


    @foreach (string ingredient in ViewBag.recipe.Ingredients)
    {
        <p>@ingredient</p>
    }

    @foreach (string step in ViewBag.recipe.Step)
    {
        <p>@step</p>
    }


    <form asp-controller="Recipes" asp-action="AddComment" asp-route-returnUrl="@ViewData["ReturnUrl"]">
        <h2>Komentarze</h2>
        <ul>
            @*         @foreach (string Comments in ViewBag.recipe.Comments) *@
            @*         { *@
            @*             foreach (var comment in Comments) *@
            @*             { *@
            @*               *@
            @*                 <li>@comment</li>    *@
            @*             } *@
            @*         } *@
        </ul>
        <button type="submit" class="btn btn-primary float-right">Dodaj komentarz</button>
    </form>
</div>